.place {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.place:first-of-type {
  padding-top: 0;
}

@media screen and (max-width: 1023px) {
  .place {
    padding-top: 73px;
  }

  .place:last-of-type {
    padding-top: 72px;
    padding-bottom: 2px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: calc(100vw - 32px);
    gap: 32px;
    padding-top: 50px;
  }

  .place:last-of-type {
    padding-top: 50px;
    padding-bottom: 2px;
  }
}
