.photos {
  width: calc(100vw - 96px);
  max-width: 1184px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 1279px) {
  .photos {
    min-width: 928px;
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photos {
    min-width: 720px;
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photos {
    width: calc(100vw - 48px);
    min-width: 288px;
    gap: 12px;
  }
}
